{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-1">Welcome To Router World!</h1>
    <p class="lead">If you are authorized then just login and CRUD router</p>
    <a href="{{ path('device_list') }}" class="btn btn-info">Click Here For Devices</a>
{% endblock %}