{% extends 'base.html.twig' %}

{% block body %}
    <div class="pull-right" style="margin-bottom: 10px;">
        <a href="{{ path('device_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
    </div>
    <br><br>
    <table id="device" class="table table-striped">
        <thead>
        <tr>
            <th>Hostname</th>
            <th>Loopback</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.hostname }}</td>
                <td>{{ device.loopback }}</td>
                <td>
                    <button type="button" id="{{ device.id }}" class="btn btn-outline-info btn-lg show-interface" data-toggle="modal" data-target=".bd-example-modal-lg"><span class="fa fa-mobile"></span></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#device').DataTable();
        } );
    </script>
{% endblock %}