{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(deviceForm) }}
        {{ form_row(deviceForm.hostname) }}
        {{ form_row(deviceForm.loopback) }}
        <h3>Interfaces</h3>
        <ul class="deviceInterfaces list-group" data-prototype="{{ form_widget(deviceForm.deviceInterfaces.vars.prototype)|e('html_attr') }}">
            {% for deviceInterface in deviceForm.deviceInterfaces %}
                <li class="list-group-item">{{ form_row(deviceInterface) }}</li>
            {% endfor %}
        </ul>
    <br>
    {{ form_end(deviceForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let $collectionHolder;

        let $addTagButton = $('<button type="button" class="add_tag_link">Add a tag</button>');
        let $newLinkLi = $('<li class="list-group-item"></li>').append($addTagButton);

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.deviceInterfaces');

            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $collectionHolder.append($newLinkLi);

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function(e) {
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            let prototype = $collectionHolder.data('prototype');

            let index = $collectionHolder.data('index');

            let newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            let $newFormLi = $('<li class="list-group-item"></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            let $removeFormButton = $('<button type="button">Delete this tag</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}